:root {
  --colour1: #3b060a;
  --colour2: #8a0000;
  --colour3: #d56946;
  --colour4: #eab09c;
  --colour5: #f2d6cd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.overall {
  min-height: 100vh !important;
}
a {
  text-decoration: none;
}

.navbar {
  background-color: var(--colour1) !important;
}
.navbar-brand {
  color: var(--colour3) !important;
}
.nav-link {
  color: var(--colour5) !important;
}

body {
  background-color: var(--colour4);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colour1);
}
.highlight {
  color: var(--colour2);
}

.card {
  background-color: var(--colour5);
}
.card-img-top {
  height: 250px;
  object-fit: cover !important;
}

footer {
  color: var(--colour1);
  background-color: var(--colour3);
}
footer a {
  color: var(--colour1);
}

.stamp-border {
  --radius: 9px;
  background-image: radial-gradient(
      var(--radius),
      transparent 75%,
      var(--colour5) 0
    ),
    linear-gradient(white 0 0);
  background-repeat: round, no-repeat;
  background-position: calc(var(--radius) * -1.5) calc(var(--radius) * -1.5),
    50%;
  background-size: calc(var(--radius) * 3) calc(var(--radius) * 3),
    calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);
}
