<% layout("/layouts/boilerplate") -%>

    <body>
        <form action="/signup" method="post" class="m-5 row needs-validation" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" name="name" id="name" placeholder="Enter your name"
                    class="form-control form-control-lg" required>
                <div class="valid-feedback">
                    Beautiful name!
                </div>
                <div class="invalid-feedback">
                    Please enter your name.
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control"
                    required>
                <div class="valid-feedback">
                    Valid email!
                </div>
                <div class="invalid-feedback">
                    Please enter a valid email.
                </div>
            </div>

            <div class="mb-3 col-5">
                <label for="username" class="form-label">Username:</label>
                <input type="text" name="username" id="username" placeholder="Enter your username" class="form-control"
                    required>
                <div class="valid-feedback">
                    Valid username!
                </div>
                <div class="invalid-feedback">
                    Please enter a valid username.
                </div>
            </div>

            <div class="mb-3 col-7">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter your password"
                    class="form-control" required>
                <div class="valid-feedback">
                    Valid password!
                </div>
                <div class="invalid-feedback">
                    Please enter a valid password.
                </div>
            </div>

            <button type="submit" class="btn btn-danger btn-lg mt-3">Sign Up</button>
        </form>
    </body>